@import "tailwindcss";

@theme {
  --color-azul-claro: #1565C0;
  --color-azul-escuro: #334D6E;
  --color-pastel: #F2E9E9;
  --color-cinza-claro: #999999;
  --color-cinza-medio: #454545;
}
body {
  background: linear-gradient(180deg, #194D88 0%, #194D88 100%);
  font-family: 'Poppins', sans-serif;
}